<div class="h-full bg-[#8ECAE6] flex flex-col w-[250px]">
  <img src="/public/svg/logo.svg" alt="">

  <div class="menu flex flex-col items-center justify-between h-full">
    <div class="flex flex-col gap-4">
      <h4>Home</h4>
      <h4>Funcionários</h4>
      <h4>Produtos</h4>
    </div>

    <div class="Footer py-8 text-sm">
      Sair
    </div>
  </div>
</div>