
<div class="w-full h-fit p-4 grid grid-cols-5 z-10">
  <img src="/public/svg/logo.svg" alt="Logo">
  <div class="col-span-2 flex items-center justify-around">
    <a href="#" class="hover:opacity-60 duration-300 text-lg font-medium">Home</a>
    <div class="flex gap-2 items-center justify-center">
      <a href="#" class="hover:opacity-60 duration-300 text-lg font-medium">Menu</a>
      <img src="/public/svg/carret.svg" alt="">
    </div>

    <div class="flex gap-2 items-center justify-center">
      <a href="#" class="hover:opacity-60 duration-300 text-lg font-medium">Serviços</a>
      <img src="/public/svg/carret.svg" alt="">
    </div>
    <a href="#" class="hover:opacity-60 duration-300 text-lg font-medium">Ofertas</a>
  </div> 
  <div class="flex items-center justify-around col-span-2">
    <div class="relative">
      <div class="absolute -top-2 -right-4 w-8 h-8 rounded-full bg-[#39DB4A] text-white flex items-center justify-center">
        1
      </div>
      <img src="/public/svg/bag.svg" class="h-auto w-8" alt="Bag Icon">
    </div>
    <a href="/contact">
      <div class="contact flex items-center px-4 py-2 bg-[#39DB4A] text-white rounded-3xl gap-2 hover:bg-[#3dc053] duration-300">
        <img src="/public/svg/phone.svg" alt="Phone Icon">
        <h3 class="font-medium text-lg">Contato</h3>
      </div>
    </a>
  </div>
</div> 